body {
    overflow-x: hidden;
    overflow-y: hidden;
}

/* 2 ids instead of 1 class because float wouldn't work */
#top-right-nav, #top-right-nav-2, #delete-account-btn {
    float: right;
    color: white;
}

    #top-right-nav:hover, #top-right-nav-2:hover {
        color: black;
    }


#delete-account-btn:hover {
    color: black;
}

.topnav {
    background-color: #2b6777;
    overflow: hidden;
}


    .topnav a {
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }


        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

        .topnav a.active {
            background-color: white;
            color: black;
        }

#book-slot-window {
    background-color: #2b6777;
    color: white;
}

#book-slot-window:hover {
    background-color: #ddd;
    color: black;
}

    .topnav .icon {
        display: none;
    }

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

        .topnav.responsive a.icon {
            position: absolute;
            right: 0;
            top: 0;
        }

        .topnav.responsive a {
            float: none;
            display: block;
            text-align: left;
        }
}

h1 {
    font-size: 70px !important;
    padding: 5%;
    text-align: center;
}

h2 {
    padding: 5%;
    text-align: center;
    font-size: 30px !important;
}

p {
    padding: 30px;
    text-align: center;
    font-size: 30px !important;
}

li {
    text-align: center;
    list-style-position: inside;
    font-size: 30px !important;
}